@import '../../App';

.button-pill {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;

  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.post-img {
  height: 150px;
  width: 180px;
}
